@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* src/SplashPage.css */
body {
  background-color: #0d2a47; /* Dark blue background color */
  font-family: Arial, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Prevent scrolling if necessary */
}

.logo {
  width: 110px; /* Adjust the width to fit the design */
  height: auto;
}
.logo-ellipse{
  position: absolute;
  bottom: 0;
  left: 0;
}
.logo-ellipse2{
  position: absolute;
  top: 0;
  right: 0;
}
.luncher-comment{
  position: absolute;
  margin-top: 280px;
}

.luncher-slidebtn{
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.luncher-nextbtn{
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.title {
  color: #ff8741; /* Orange color */
  font-size: 15px;
  margin-top: 20px;
  letter-spacing: 2px;
}
/* src/Pages/ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  transition: opacity 0.5s ease; /* Transition for fade effect */
}
/* src/ */
.container-launcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  transition: opacity 0.5s ease; /* Transition for fade effect */
  background-image: url('./assets/launcher.png'); /* Specify the path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
}

.app-bar {
  display: flex;
  flex-direction: column;
  height: 44px; /* Full viewport height */
}

.fade-in {
  opacity: 1; /* Fully visible */
}

.fade-out {
  opacity: 0; /* Fully transparent */
}
.subtitle {
  color: white;
  font-size: 16px;
  margin-top: 0px;
  font-weight: bold;
}


.container-auth {
  padding:60px 20px 0px 20px;
  height: 100vh; /* Full viewport height */ 
}

/* src/Components/ */
.backward-button {
  background-image: url('./assets/backward.png'); /* Specify the path to your image */
  height: 25px;
  width: 25px;

}

.container-login {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  flex-direction:column;
}

.text-title {
  font-size: 25px;
  color:white;
  font-weight: bold;
}

.container-login-input{  
  margin-top:55px;  
}

.input-field {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px; 
  border:0.5px white solid!important;
  padding: 0 !important;
}

label {
 font-size: 14px;
 color:white;
}

/*--------- eagle toenail ---------*/
.auth-container{
  width: 375px;
  padding-left: 20px;
  padding-right:20px;
}
.forgetpassword-container {
  margin: 0 auto;
  /* padding: 2rem; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
}
.verification-container {
  margin: 0 auto;
  /* padding: 2rem; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
}
.forget-password {
  text-align: center;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
}
.container-auth {
  padding:60px 20px 0px 20px;
  height: 100vh; /* Full viewport height */ 
}

/* src/Components/ */
.backward-button {
  background-image: url('./assets/backward.png'); /* Specify the path to your image */
  height: 25px;
  width: 25px;

}

.container-login {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  flex-direction:column;
}

.text-title {
  font-size: 25px;
  color:white;
  font-weight: bold;
  padding-top:175px;
}
.verification {
  text-align: center;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  padding-top:175px;
}

.container-login-input{  
  margin-top:55px;  
}
.verification-description {
  text-align: center;
  padding-left: 87px;
  padding-right: 87px;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  margin:auto;
  font-size: 0.8em;

}

.form-group {
  margin-bottom: 1rem;
}
.figure-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.code{
  background-color: #406a94;
  width:25%;
  padding-left: 10px;
}
.gmailaccount{
  padding-top: 1rem;}

.input-field {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px; 
  border:0.5px white solid!important;
  padding: 0 !important;
}

label {
 font-size: 14px;
 color:white;
}
input {
  width: 93.5%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px !important;
  background-color: transparent !important;
}
.sendresetcode{
  margin-top:400px;
}
button {
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(212, 198, 0);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.gotologin{
  padding-top: 50px;
  margin:auto;
  text-align: center;
}
.gotologin span{
  color:rgb(212, 198, 0);
}
.previous{
 /* // background-image: url('./assets/Group 105.png');  */
}
/*--------------------------------*/
