/* src/SplashPage.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d2a47; /* Dark blue background color */
  font-family: Arial, sans-serif;
}

.logo {
  width: 80px; /* Adjust the width to fit the design */
}

.title {
  color: #ff8741; /* Orange color */
  font-size: 24px;
  margin-top: 10px;
  letter-spacing: 2px;
}
/* src/SplashPage.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  transition: opacity 0.5s ease; /* Transition for fade effect */
}

.fade-in {
  opacity: 1; /* Fully visible */
}

.fade-out {
  opacity: 0; /* Fully transparent */
}