@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* src/SplashPage.css */
body {
  background-color: #0d2a47; /* Dark blue background color */
  font-family: Arial, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Prevent scrolling if necessary */
}

.logo {
  width: 110px; /* Adjust the width to fit the design */
  height: auto;
}
.logo-ellipse{
  position: absolute;
  bottom: 0;
  left: 0;
}

.title {
  color: #ff8741; /* Orange color */
  font-size: 15px;
  margin-top: 20px;
  letter-spacing: 2px;
}
/* src/Pages/ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  transition: opacity 0.5s ease; /* Transition for fade effect */
}
/* src/ */
.container-launcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  transition: opacity 0.5s ease; /* Transition for fade effect */
  background-image: url('./assets/launcher.png'); /* Specify the path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
}

.app-bar {
  display: flex;
  flex-direction: column;
  height: 44px; /* Full viewport height */
}

.fade-in {
  opacity: 1; /* Fully visible */
}

.fade-out {
  opacity: 0; /* Fully transparent */
}
.subtitle {
  color: white;
  font-size: 16px;
  margin-top: 0px;
  font-weight: bold;
}


.container-auth {
  padding:60px 20px 0px 20px;
  height: 100vh; /* Full viewport height */ 
}

/* src/Components/ */
.backward-button {
  background-image: url('./assets/backward.png'); /* Specify the path to your image */
  height: 25px;
  width: 25px;

}

.container-login {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  flex-direction:column;
}

.text-title {
  font-size: 25px;
  color:white;
  font-weight: bold;
}

.container-login-input{  
  margin-top:55px;  
}

.input-field {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px; 
  border:0.5px white solid!important;
  padding: 0 !important;
}

label {
 font-size: 14px;
 color:white;
}

